<nav class="navbar navbar-expand-lg navbar-light bg-light"
  style="background-color: #e3f2fd; font-family: moonsans; font-size: 25px;">
  <a class="navbar-brand mr-3">NiceCity</a>
  <div class=" mr-auto" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item {{#if profile}}active{{/if}}">
        <a class="nav-link" href="/profile">Account <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {{#if project}}active{{/if}}">
        <a class="nav-link" href="/projects">Projects<span class="sr-only">(current)</span></a>
      </li>
       </li>
      <li class="nav-item {{#if blog}}active{{/if}}">
        <a class="nav-link" href="/blog" style= "color: teal;">Deeds Share <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  <button type="button" class="btn btn-secondary ml-auto"><a class="nav-link" href="/logout"
      style="color: white;">Logout</a></button>
</nav>