<div class="container">
  <div class="card" style="width: 100rem; padding: 50px; margin: 50px; font-family: moonsans; font-size: 25px;">
  <h1 class="card-title">Event Name</h1> <br>
  <img src="http://simcloud.com/~atw/wp-content/uploads/2016/10/default.png" class="card-img-top" alt="..."> <br>
  <div class="card-body">
    
    <p class="card-text">Some detail about the event goes here. blah
      blah blah blah
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Date</li>
    <li class="list-group-item">Time</li>
    <li class="list-group-item"># of volunteers wanted</li>
    <li class="list-group-item">Atendees</li>
    <li class="list-group-item">Completion Satus</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Event Webpage</a>
  </div>
</div>


</div>


<script>
  $.get("/api/projectsId/{{view}}", function(data){
    console.log(data)
  });
</script>