<div class="container">
  <div class="card" style="width: 100rem; padding: 50px; margin: 50px; font-family: moonsans; font-size: 25px;">
    <h1 class="card-title title"></h1> <br>
    <img src="" class="card-img-top cardImg" alt="..."> <br>
    <div class="card-body">
      <p class="card-text details"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Date: <span class="date"></span></li>
      <li class="list-group-item">Time: <span class="time"></span></li>
      <li class="list-group-item">No. of Volunteers Needed: <span class="volunteers"></span></li>
      <li class="list-group-item">Attendees: <span class="attendees"></span></li>
      <li class="list-group-item"> This project is <span class="completed"></span></li>
    </ul>
    <div class="card-body">
      <a href="" class="card-link link" target="_blank">Visit the Project's Homepage</a>
      <a href="/projects" style="float:right;">View all Projects</a>
    </div>
  </div>
</div>
<script>
  $.get("/api/projectsId/{{view}}", function (data) {
    console.log(data)
    var info = data[0]
    $(".title").html(info.title);
    if (info.photo === "") {
      $(".cardImg").attr("src", "http://simcloud.com/~atw/wp-content/uploads/2016/10/default.png");
    } else {
      $(".cardImg").attr("src", info.photo);
    }
    var month;
    var day;
    var year;
    var dateSplit = info.eventDate.split("-");
    for (j = 0; j < dateSplit.length; j++) {
      month = dateSplit[1];
      day = dateSplit[2];
      year = dateSplit[0];
    }
      time = info.eventTime.split(':'); // convert to array
      var hours = Number(time[0]);
      var minutes = Number(time[1]);
      var seconds = Number(time[2]);
      // calculate
      var timeValue;
      if (hours > 0 && hours <= 12) {
        timeValue = "" + hours;
      } else if (hours > 12) {
        timeValue = "" + (hours - 12);
      } else if (hours == 0) {
        timeValue = "12";
      }
      timeValue += (minutes < 10) ? ":0" + minutes : ":" + minutes;  // get minutes
      timeValue += (hours >= 12) ? " P.M." : " A.M.";  // get AM/PM
      $(".card-text").text(info.description);
      $(".date").html(month+"/"+day+"/"+year);
      $(".time").html(timeValue);
      $(".volunteers").html(info.capacity);
      $(".attendees").html(info.participantCount);
      if (info.completed === false) {
        $(".completed").html("upcoming.");
      } else {
        $(".completed").html("completed.")
      }
      $(".link").attr("href", info.link)
    });
</script>