<p>Sign in!</p>

<input name="username" id="name"></input>
<input name="password" id="pass"></input>
<button id="signin">Submit</button>


<p>Please sign up!</p>

<input name="username" id="name"></input>
<input name="password" id="pass"></input>
<button id="signup">Submit</button>

<script>
    document.getElementById("signup").addEventListener("click", function(e){
        e.preventDefault();
        fetch("api/signup", {
        method: 'POST', //  *GET, POST, PUT, DELETE, etc.
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(
            {
                email: document.getElementById("name").value,
                password: document.getElementById("pass").value
            }
        )
    }).then(res => res.json()).then(data => window.location.href = data)
    })
</script>

<script>
    document.getElementById("signin").addEventListener("click", function(e){
        e.preventDefault();
        fetch("api/login", {
        method: 'POST', // *GET, POST, PUT, DELETE, etc.
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(
            {
                email: document.getElementById("name").value,
                password: document.getElementById("pass").value
            }
        ), // body data type must match "Content-Type" header
    }).then(res => res.json()).then(data => window.location.href = data)
    })
</script>