<p>Sign in!</p>

<input name="username" id="sign_name"></input>
<input name="password" id="sign_pass"></input>
<button id="signin">Submit</button>


<p>Please sign up!</p>
<label>email</label>
<input name="username" id="name"></input>
<br />
<label>password</label>
<input name="password" id="pass"></input>
<br />
<label>firstname</label>
<input name="firstname" id="fname"></input>
<br />
<label>lastname</label>
<input name="lastname" id="lname"></input>
<br />
<label>username</label>
<input name="username" id="uname"></input>
<br />
<label>picture</label>
<input name="picture" id="picture"></input>
<br />
<button id="signup">Submit</button>

<script>
    document.getElementById("signup").addEventListener("click", function(e){
        e.preventDefault();
        fetch("api/signup", {
        method: 'POST', //  *GET, POST, PUT, DELETE, etc.
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(
            {
                email: document.getElementById("name").value,
                password: document.getElementById("pass").value,
                firstName: document.getElementById("fname").value,
                lastName: document.getElementById("lname").value,
                userName: document.getElementById("uname").value,
                userPhoto: document.getElementById("picture").value
            }
        )
    }).then(res => res.json())
        .then(data =>{
        console.log(data)
            if(data.errors){
                return console.log(data.errors)
            }
            window.location.href = data;
        })
    })
</script>

<script>
    document.getElementById("signin").addEventListener("click", function(e){
        e.preventDefault();
        fetch("api/login", {
        method: 'POST', // *GET, POST, PUT, DELETE, etc.
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(
            {
                email: document.getElementById("sign_name").value,
                password: document.getElementById("sign_pass").value
            }
        ), // body data type must match "Content-Type" header
    }).then(data =>{
        console.log(data)
            if(data.error){
                return console.log(data.errors);
            }else if(data.status === 401){
                return console.log("username or password not right");
            }
            window.location.href = data;
        })
    })
</script>