<!-- Navbar content -->
<nav class="navbar navbar-expand-lg navbar-light bg-light"
    style="background-color: #e3f2fd; font-family: moonsans; font-size: 25px;">
    <a class="navbar-brand" href="#">NiceCity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Account <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Achievements</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Events
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Volunteer</a>
                    <a class="dropdown-item" href="#">Post Event</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"></a>
                </div>
            </li>
        </ul>
        {{!-- <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
        <button type="button" class="btn btn-secondary" style="float:right;"><a class="nav-link" href="/logout">Logout</a></button>
</nav>
</nav>
<div class="banner">
    <div class="profilePic">
        <button id="buttonProfilePhoto" data-toggle="modal" data-target="#postProfilePhoto"></button>
        <img id="userPhoto" src="{{user.userPhoto}}">
    </div>
    <img class="logo" src="images/finalnicecity.png">
    <div class="row">
        <div class="col-lg-12 userInformation">
            <div class="userName">Welcome Back <span
                    id="name">{{user.userName}}</span></div>
            {{!-- <div class="userEmail" style="font-family: moonsans; font-size: 30px; color: white;">Email</div> --}}
        </div>
    </div>
    <div class="userName">Welcome Back <span id="name">User Name</span></div>
    <div class="userEmail">Email</div>
    <div class="profileInfo"></div>
    <div class="tabs">
        <div class="openAttended">Attended Projects</div>
        <div class="openProjects">Upcoming Projects</div>
    </div>
    <img class="logo" src="https://user-images.githubusercontent.com/50628151/65193057-a5296f00-da47-11e9-98c0-999c8c2f781a.png(136 kB)
    https://user-images.githubusercontent.com/50628151/65193057-a5296f00-da47-11e9-98c0-999c8c2f781a.png
    " style="width:480px;">
</div>
<div class="userHoursSpace">
</div>
<div class="userProjectsAttended">
</div>
<div class="userProjectsPending">
</div>