</style>
<!-- Navbar content -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd; font-family: moonsans; font-size: 30px;">
    <a class="navbar-brand" href="#">NiceCity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Account <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Projects
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-center" href="/projects">Volunteer</a>
                    <button id="projectButton" data-toggle="modal" data-target="#postEvent" style="width:100%;">Post Project</button>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"></a>
                </div>
            </li>
        </ul>
        <button type="button" class="btn btn-secondary" style= "margin-left: 1058px;">Log Out</button>
        {{!-- <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" style="font-family: moonsans; font-size: 20px;">Search</button>
        </form> --}}
    </div>
</nav>
<!-- Banner At the Top -->
<div class="banner">
    <div class="profilePic">
        <button id="buttonProfilePhoto" data-toggle="modal" data-target="#postProfilePhoto"></button>
        <img id="userPhoto" src="images/person.png">
    </div>
    <img class="logo" src="images/finalnicecity.png">
    <div class="row">
    <div class="col-lg-12 userInformation">
        <div class="userName" style="font-family: moonsans; font-size: 40px; color: white;">Welcome Back <span id="name" style="font-family: moonsans; font-size: 40px;">"User Name"</span></div>
        {{!-- <div class="userEmail" style="font-family: moonsans; font-size: 30px; color: white;">Email</div> --}}
        </div>
    </div>
    <div class="profileInfo"></div>
    <div class="tabs">
        <div class="openAttended" style="font-family: moonsans; font-size: 17px;">Attended Projects</div>
        <div class="openProjects" style="font-family: moonsans; font-size: 17px;">Upcoming Projects</div>
    </div>
</div>
<!-- Projects Attended -->
<div class="userProjectsAttended">
</div>
<!-- Projects Pending -->
<div class="userProjectsPending">
</div>
<!-- POST Modal  -->
<div class="container">
    <div class="modal fade" id="postProfilePhoto" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <form method="POST" action="/apiRoutes/create">
                    <div class="modal-body">
                            <p style="font-family: moonsans; font-size: 20px;">Enter URL for Photo:</p>
                            <input type="text" id="locatity" name="event_location">
                            <button id="submitButton" type="submit" class="event_form; btn btn-secondary" style="font-family: moonsans; font-size: 18px;">Submit Photo</button>
                            
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- POST Modal Volunteer Form-->
<div class="container">
    <div class="modal fade" id="postEvent" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" >Volunteer Request Form</h4>
                </div>
                <form method="POST" action="/apiRoutes/create">
                    <div class="modal-body">
                        <p>
                            <p>Enter Location:</p>
                            <input type="text" id="locatity" name="event_location">
                            <br>
                            <br>
                            <p>Enter Date and Time of Event:</p>
                            <input type="datetime-local" id="eventDate" name="event_date">
                            <br>
                            <br>
                            <p>Enter Number of Volunteers Needed:</p>
                            <input type="number" id="capacity" name="event_capacity">
                            <br>
                            <br>
                            <p>Detail of Event:</p>
                            <textarea class="eventDetails" name="event_details"> Event Description...
                                </textarea>
                            <br>
                            <br>
                            <p>Link:</p>
                            <input type="text" id="locatity" name="event_link">
                            <br>
                            <br>
                            <button type="submit" class="event_form" >Submit Event</button>
                        </p>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>