<!-- Navbar content -->
{{> navBar project=1}}

<div class="container">
    <div class="row main-content-container justify-content-center">
        {{#if view}}
        {{> singleProject projects=projects user=user view=view}}
        {{else}}
        {{> allProjects projects=projects user=user}}
        {{/if}}
        <!-- Modal -->
        <div class="modal fade" id="postEvent" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="font-family: moonsans; font-size: 30px;">Volunteer Request Form
                        </h4>
                    </div>
                    <form>
                        <div class="modal-body">
                                <p style="font-family: moonsans; font-size: 30px;">Title:</p>
                                <input type="text" id="projTitle" name="title">
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;">(Optional) Project Photo URL:</p>
                                <input type="text" id="urlPhoto" name="photo">
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;">Enter Date:</p>
                                <input type="date" id="projDate" onload="getDate()" class="form-control" name="eventDate">
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;">Enter Time:</p>
                                <input type="time" id="projTime" name="eventTime">
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;">Enter Number of Volunteers Needed:
                                </p>
                                <input type="number" id="capacity" min="0" name="capacity">
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;"> Project Details:</p>
                                <textarea id="eventDetails" name="description"></textarea>
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;">Link:</p>
                                <input type="text" id="urlLink" name="link">
                                <br>
                                <br>
                                <button type="submit" class="event_form; btn btn-secondary" id="projSubmit"
                                    style="font-family: moonsans; font-size: 18px;">Submit Project</button>
                                <div id="projectError"></div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Code begins here -->
{{#unless view}}
<a href="#" class="float" data-target="#postEvent" data-toggle="modal" style= "color: white;">
<i class="fa fa-plus my-float"></i>
</a>
{{/unless}}

<script src="/js/submitHandler.js"></script>