<!-- Navbar content -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <img src="https://user-images.githubusercontent.com/50628151/65193057-a5296f00-da47-11e9-98c0-999c8c2f781a.png"
        style="width:70px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-family: moonsans; font-size: 25px;">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" id="account" href="/profile" style= "color: grey;">Account <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/projects">Projects <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"
                style="font-family: moonsans; font-size: 20px;">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row main-content-container justify-content-center">
        {{#if view}}
        {{> singleProject projects=projects user=user view=view}}
        {{else}}
        {{> allProjects projects=projects user=user}}
        {{/if}}
        <!-- Modal -->
        <div class="modal fade" id="postEvent" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="font-family: moonsans; font-size: 30px;">Volunteer Request Form
                        </h4>
                    </div>
                    <form>
                        <div class="modal-body">
                            <p>
                                <p style="font-family: moonsans; font-size: 30px;">Title:</p>
                                <input type="text" id="projTitle" name="title">
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;">(Optional) Event Photo URL:</p>
                                <input type="text" id="urlPhoto" name="photo">
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;">Enter Date:</p>
                                <input type="date" id="projDate" name="eventDate">
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;">Enter Time:</p>
                                <input type="time" id="projTime" name="eventTime">
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;">Enter Number of Volunteers Needed:
                                </p>
                                <input type="number" id="capacity" min="0" name="capacity">
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;"> Detail of Event:</p>
                                <textarea class="eventDetails" name="description">
                                </textarea>
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;">Link:</p>
                                <input type="text" id="urlLink" name="link">
                                <br>
                                <br>
                                <button type="submit" class="event_form; btn btn-secondary" id="projSubmit"
                                    style="font-family: moonsans; font-size: 18px;">Submit Event</button>
                            </p>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Code begins here -->
{{#unless view}}
<a href="#" class="float" data-target="#postEvent" data-toggle="modal">
<i class="fa fa-plus my-float"></i>
</a>
{{/unless}}

<script>
    $("#projSubmit").on("click", function (e) {
        e.preventDefault();
        var title = $("#projTitle").val();
        var urlPhoto = $("#urlPhoto").val();
        if (urlPhoto === ""){
            urlPhoto = "http://simcloud.com/~atw/wp-content/uploads/2016/10/default.png";
        }
        var projDate = $("#projDate").val();
        var projTime = $("#projTime").val();
        var cap = $("#capacity").val();
        var detail = $(".eventDetails").val();
        var url = $("#urlLink").val();

        $.post("/api/newProject",
            {
                title: title,
                photo: urlPhoto,
                eventDate: projDate,
                eventTime: projTime,
                capacity: cap,
                description: detail,
                link: url
            },
            function (results) {
                window.location.href = "projects/"+results.id;
                console.log(results)
            });
    });
</script>