<!-- Navbar content -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <img src="https://user-images.githubusercontent.com/50628151/65193057-a5296f00-da47-11e9-98c0-999c8c2f781a.png"
        style="width:80px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/profile" style="font-family: moonsans; font-size: 25px;">Account <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="font-family: moonsans; font-size: 25px;">
                    Volunteer
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <button id="projectButton" data-toggle="modal" data-target="#postEvent" style="width:100%; font-family: moonsans; font-size: 20px;">Post Project</button>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"></a>
                </div>
        </ul>
        <form class="form-inline my-2 my-lg-0 search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" style="font-family: moonsans; font-size: 20px;">Search</button>
        </form>
    </div>
</nav>
</nav>
<div class="container">
    <div class="row main-content-container justify-content-center">
        <div class="card" style="width: 40rem; ">
            <img src="https://user-images.githubusercontent.com/50628151/65201049-263c3280-da57-11e9-8985-2a67f826ba96.PNG"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Breast Cancer Walk</h5>
                <p class="card-text">Walking for a cure. Come out and join us as we celebrate our survivors and walk for
                    our angels.
                </p>
            </div>
            <a href="#" class="btn btn-dark">RSVP</a>
            <div class="card-body">
                <a href="http://main.acsevents.org/goto/doseofabby" class="card-link"><strong>View Event
                        Details</strong></a>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="postEvent" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="font-family: moonsans; font-size: 30px;">Volunteer Request Form</h4>
                    </div>
                    <form method="POST" action="//create">
                        <div class="modal-body">
                            <p>
                                <p style="font-family: moonsans; font-size: 30px;">Enter Location:</p>
                                <input type="text" id="locatity" name="event_location">
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;">Enter Date and Time of Event:</p>
                                <input type="datetime-local" id="eventDate" name="event_date">
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;">Enter Number of Volunteers Needed:</p>
                                <input type="number" id="capacity" name="event_capacity">
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;"> Detail of Event:</p>
                                <textarea class="eventDetails" name="event_details" > 
                                </textarea>
                                <br>
                                <br>
                                <p style="font-family: moonsans; font-size: 30px;">Link:</p>
                                <input type="text" id="locatity" name="event_link">
                                <br>
                                <br>
                                <button type="submit" class="event_form; btn btn-secondary" style="font-family: moonsans; font-size: 18px;">Submit Event</button>
                            </p>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>