body {
    background: url("https://www.muralswallpaper.com/app/uploads/soft-pastel-pink-marble-textures-plain-820x532.jpg");
    background-size: 100vw;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom: 5%;
    right: 5%;
    margin-left: 15px;
	background-color: rgb(245, 217, 221);
	color:rgb(82, 82, 87);
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px rgb(65, 66, 66);
}
.my-float{
	margin-top:22px;
}
h1 {
    text-align: center;
    color: rgb(97, 94, 94)
}
.para {
    text-align: center; 
}
#titleModal {
    text-align: center;
}
p {
    font-size: 20px;
}
.login {
    text-align: center;
}
input {
    width: 80%;
    padding: 5px;
}
textarea {
    width: 80%;
}
.event_form {
    float: right;
    margin-top: 20px;
    padding: 10px;
}
.modal-footer {
    margin-top: 50px;
}
.eventDetails {
    text-align: left;
} 
.banner {
    width:100%;
    height: 170px;
    margin-top: -30px;
    background-color: rgb(198,183, 188);
}
.profilePic {
    width:150px;
    height:180px;
    margin: 50px 0 0 70px;
    position: absolute;
    overflow: hidden;
}
#userPhoto {
    border: 2px solid rgb(135, 150,132);
    max-height:180px; 
    max-width:150px;
    margin-left:3px;
}
.logo {
    float:right;
    max-width: 200px;
}
.list-group-item {
    line-height: 2.5;
  }
.tabs {
    margin: 20px 0 0 70%;
    position: absolute;
    
}
.userProjectsAttended {
    position: absolute;
    z-index: 2;
}
.userProjectsPending {
    position: absolute;
    z-index: 2;
}
.userName {
    padding-top: 50px;
}
.openAttended {
   width: 80px;
   height: 50px;
   float: left;
   background:rgb(243, 243, 243);
   margin:5px;
   text-align: center;
   border-radius: 5px;
   cursor: pointer;
}
.openProjects {
   width: 80px;
   height: 50px;
   float: left;
   background:rgb(241, 237, 233);   
   margin: 5px;
   text-align: center;
   border-radius: 5px;
   cursor: pointer;
}
.userProjectsAttended {
   background: rgb(243, 243, 243);
   margin-left: 18%;
   width:70%;
   height: 500px;
}
.userProjectsPending {
   background: rgb(241, 237, 233);
   margin-left: 18%;
   width:70%;
   height: 500px;
}
.userInformation {
    text-align: center;
    font-size: 20px;
}
#buttonProfilePhoto {
    position: absolute;
    width: 150px;
    height: 180px;
    opacity: 0;
}
#submitButton {
    margin:5px;
    float:left;
}
#projectButton {
    border: none;
    background: #ffffff;
}
#projectButton:hover {
    background-color: #f2f2f2;
}
.search {
    float:right;
}
.userInformation {
    text-align: center;
    margin-left: 13%;
}